In [1]:
import numpy as np
import pandas as pd
import seaborn as sn
import matplotlib.pyplot as plt
%matplotlib inline

In [7]:
fifa = pd.read_csv('My_fifa_rank.csv')
fifa.head(3)

,Unnamed: 0,rank,country_full_x,country_abrv_x,total_points,previous_points,rank_change,confederation,year,continent_x
0,0,1,Germany,GER,57.0,0.0,0,UEFA,1992,Europe
1,1,96,Syria,SYR,11.0,0.0,0,AFC,1992,Asia
2,2,97,Burkina Faso,BFA,11.0,0.0,0,CAF,1992,Africa

In [8]:
fifa.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 63916 entries, 0 to 63915
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       63916 non-null  int64
 1   rank             63916 non-null  int64
 2   country_full_x   63916 non-null  object
 3   country_abrv_x   63916 non-null  object
 4   total_points     63916 non-null  float64
 5   previous_points  63916 non-null  float64
 6   rank_change      63916 non-null  int64
 7   confederation    63916 non-null  object
 8   year             63916 non-null  int64
 9   continent_x      63916 non-null  object
dtypes: float64(2), int64(4), object(4)
memory usage: 4.9+ MB

In [9]:
champs = pd.read_csv('My_fifa_champ.csv')
champs.head(3)

,Unnamed: 0,year,champion,runner up,third place,host,teams,matches,goals
0,0,2018,France,Croatia,Belgium,Russia,32,64,169
1,1,2014,Germany,Argentina,Netherlands,Brazil,32,64,171
2,2,2010,Spain,Netherlands,Germany,South Africa,32,64,145

In [10]:
champs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   7 non-null      int64
 1   year         7 non-null      int64
 2   champion     7 non-null      object
 3   runner up    7 non-null      object
 4   third place  7 non-null      object
 5   host         7 non-null      object
 6   teams        7 non-null      int64
 7   matches      7 non-null      int64
 8   goals        7 non-null      int64
dtypes: int64(5), object(4)
memory usage: 632.0+ bytes