In [2]:
import numpy as np
import pandas as pd
import seaborn as sn
import matplotlib.pyplot as plt
%matplotlib inline
import requests
from bs4 import BeautifulSoup

In [3]:
fifa_tbl = pd.read_csv('fifa_ranking-2022-10-06.csv')
fifa_tbl.head(3)

,rank,country_full,country_abrv,total_points,previous_points,rank_change,confederation,rank_date
0,1,Germany,GER,57.0,0.0,0,UEFA,1992-12-31
1,96,Syria,SYR,11.0,0.0,0,AFC,1992-12-31
2,97,Burkina Faso,BFA,11.0,0.0,0,CAF,1992-12-31

In [4]:
#changing the data type of  'rank_date' to date time
fifa_tbl['rank_date'] = pd.to_datetime(fifa_tbl['rank_date'])

#extracting the year from the 'rank_date'
fifa_tbl['year'] = fifa_tbl.rank_date.dt.year

In [7]:
#webscrapping a table containing name of continents
r = requests.get('https://statisticstimes.com/geography/countries-by-continents.php')
bsoup = BeautifulSoup(r.content, 'html')
table = bsoup.find_all('table')[2]
df = pd.read_html(str(table),header=0)[0]

In [8]:
#selecting the important columns from the data and renaming them
df = df[['Country or Area', 'ISO-alpha3 Code', 'Continent']]
df.rename(columns = {'Country or Area': 'country_full', 'ISO-alpha3 Code':'country_abrv','Continent':'continent'}, inplace=True)
df.head(3)

    country_full country_abrv continent
0    Afghanistan          AFG      Asia
1  Åland Islands          ALA    Europe
2        Albania          ALB    Europe

In [9]:
#webscraping data that contains the winners of fifa worlcups from 1930
s = requests.get('https://www.foxsports.com/soccer/2022-fifa-world-cup/history')
bstew = BeautifulSoup(s.content, 'html')
con_table = bstew.find_all('div', class_= "table-stats table-scrollable carousel-content")
for x in con_table:
    table1 = x.table
df2 = pd.read_html(str(table1))[0]
df2.columns = ['year', 'champion', 'runner up','third place','host','teams','matches','goals']
df2.head()

,year,champion,runner up,third place,host,teams,matches,goals
0,2018,France,Croatia,Belgium,Russia,32,64,169
1,2014,Germany,Argentina,Netherlands,Brazil,32,64,171
2,2010,Spain,Netherlands,Germany,South Africa,32,64,145
3,2006,Italy,France,Germany,Germany,32,64,147
4,2002,Brazil,Germany,Turkey,"South Korea, Japan",32,64,161

In [36]:
#Selecting the relevant data (from 1994 upwards)
df2 = df2.loc[df2['year'] > 1991]
df2.year.min()

1994

In [10]:
#Merging fifa_tbl with df
fifa = pd.merge(left = fifa_tbl, right=df, how= 'left', left_on='country_abrv', right_on='country_abrv')
fifa.head(20)

,rank,country_full_x,country_abrv,total_points,previous_points,rank_change,confederation,rank_date,year,country_full_y,continent
0,1,Germany,GER,57.0,0.0,0,UEFA,1992-12-31,1992,NaN,NaN
1,96,Syria,SYR,11.0,0.0,0,AFC,1992-12-31,1992,Syrian Arab Republic,Asia
2,97,Burkina Faso,BFA,11.0,0.0,0,CAF,1992-12-31,1992,Burkina Faso,Africa
3,99,Latvia,LVA,10.0,0.0,0,UEFA,1992-12-31,1992,Latvia,Europe
4,100,Burundi,BDI,10.0,0.0,0,CAF,1992-12-31,1992,Burundi,Africa
5,101,Togo,TOG,10.0,0.0,0,CAF,1992-12-31,1992,NaN,NaN
6,102,Angola,ANG,10.0,0.0,0,CAF,1992-12-31,1992,NaN,NaN
7,95,Suriname,SUR,12.0,0.0,0,CONCACAF,1992-12-31,1992,Suriname,South America
8,103,Luxembourg,LUX,10.0,0.0,0,UEFA,1992-12-31,1992,Luxembourg,Europe
9,105,St. Vincent and the Grenadines,VIN,9.0,0.0,0,CONCACAF,1992-12-31,1992,NaN,NaN
10,106,Fiji,FIJ,9.0,0.0,0,OFC,1992-12-31,1992,NaN,NaN
11,107,Mozambique,MOZ,9.0,0.0,0,CAF,1992-12-31,1992,Mozambique,Africa
12,108,Indonesia,IDN,9.0,0.0,0,AFC,1992-12-31,1992,Indonesia,Asia
13,109,Antigua and Barbuda,ATG,8.0,0.0,0,CONCACAF,1992-12-31,1992,Antigua and Barbuda,North America
14,110,Jordan,JOR,8.0,0.0,0,AFC,1992-12-31,1992,Jordan,Asia
15,104,Eswatini,SWZ,10.0,0.0,0,CAF,1992-12-31,1992,Eswatini,Africa
16,94,Faroe Islands,FRO,12.0,0.0,0,UEFA,1992-12-31,1992,Faroe Islands,Europe
17,93,Lithuania,LTU,12.0,0.0,0,UEFA,1992-12-31,1992,Lithuania,Europe
18,92,Uganda,UGA,12.0,0.0,0,CAF,1992-12-31,1992,Uganda,Africa
19,77,Korea DPR,PRK,16.0,0.0,0,AFC,1992-12-31,1992,Democratic People's Republic of Korea,Asia

In [11]:
#Dealing with Null values
fifa['country_full_y'] = fifa['country_full_y'].fillna(fifa['country_full_x'])
fifa = fifa.drop(['country_full_y'], axis=1)
fifa = pd.merge(left = fifa, right= df, how='left', left_on = 'country_full_x', right_on = 'country_full')
fifa['continent_x'] = fifa['continent_x'].fillna(fifa['continent_y'])
fifa = fifa.drop(['rank_date','continent_y','country_abrv_y','country_full'], axis=1)

In [12]:
fifa.head(3)

,rank,country_full_x,country_abrv,total_points,previous_points,rank_change,confederation,rank_date,year,country_full_y,continent
0,1,Germany,GER,57.0,0.0,0,UEFA,1992-12-31,1992,Germany,NaN
1,96,Syria,SYR,11.0,0.0,0,AFC,1992-12-31,1992,Syrian Arab Republic,Asia
2,97,Burkina Faso,BFA,11.0,0.0,0,CAF,1992-12-31,1992,Burkina Faso,Africa

In [18]:
nan_values = fifa[fifa.isna().any(axis=1)] 
nan_values

,rank,country_full_x,country_abrv_x,total_points,previous_points,rank_change,confederation,year,continent_x
9,105,St. Vincent and the Grenadines,VIN,9.00,0.00,0,CONCACAF,1992,NaN
22,80,Tanzania,TAN,15.00,0.00,0,CAF,1992,NaN
64,123,Tahiti,TAH,5.00,0.00,0,OFC,1992,NaN
78,23,Scotland,SCO,43.00,0.00,0,UEFA,1992,NaN
83,28,Wales,WAL,40.00,0.00,0,UEFA,1992,NaN
...,...,...,...,...,...,...,...,...,...
63841,5,England,ENG,1728.47,1737.46,0,UEFA,2022,NaN
63855,19,Wales,WAL,1569.82,1582.13,0,UEFA,2022,NaN
63877,94,Palestine,PLE,1233.72,1233.72,0,AFC,2022,NaN
63879,96,Vietnam,VIE,1226.65,1218.84,-1,AFC,2022,NaN
63896,59,Northern Ireland,NIR,1396.55,1399.10,1,UEFA,2022,NaN

In [20]:
nan_values['country_full_x'].unique()

array(['St. Vincent and the Grenadines', 'Tanzania', 'Tahiti', 'Scotland',
       'Wales', 'Yugoslavia', 'Czechoslovakia', 'England', 'Zaire',
       'Northern Ireland', 'Vietnam', 'St. Kitts and Nevis',
       'Chinese Taipei', 'Palestine', 'Serbia and Montenegro',
       'St. Vincent / Grenadines', 'Netherlands Antilles', 'Kosovo'],
      dtype=object)

In [23]:
fifa['continent_x'].fillna(fifa['country_full_x'], inplace =True)

In [24]:
fifa.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 63916 entries, 0 to 63915
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   rank             63916 non-null  int64
 1   country_full_x   63916 non-null  object
 2   country_abrv_x   63916 non-null  object
 3   total_points     63916 non-null  float64
 4   previous_points  63916 non-null  float64
 5   rank_change      63916 non-null  int64
 6   confederation    63916 non-null  object
 7   year             63916 non-null  int64
 8   continent_x      63916 non-null  object
dtypes: float64(2), int64(3), object(4)
memory usage: 4.9+ MB

In [26]:
fifa['continent_x'].replace({'St. Vincent and the Grenadines': 'North America', 'Tanzania':'Africa','Tahiti':'Oceania', 'Scotland':'Europe', 'Wales':'Europe', 'Yugoslavia' : 'Europe', 'Czechoslovakia':'Europe', 'England':'Europe', 'Zaire':'Africa',
       'Northern Ireland':'Europe', 'Vietnam':'Asia', 'St. Kitts and Nevis':'North America','Chinese Taipei':'Asia', 'Palestine':'Asia', 'Serbia and Montenegro':'Europe','St. Vincent / Grenadines':'Europe', 'Netherlands Antilles':'Europe', 'Kosovo':'Europe'}, inplace=True)

In [27]:
fifa.continent_x.unique()

array(['Europe', 'Asia', 'Africa', 'South America', 'North America',
       'Oceania'], dtype=object)

In [28]:
fifa['country_full_x'].replace({'St. Vincent and the Grenadines':'St. Vincent / Grenadines'}, inplace= True)

In [31]:
fifa.to_csv('My_fifa_rank.csv', index=True)

In [39]:
df2.to_csv('My_fifa_champ.csv', index=True)

In [48]:
print("lenght of merged table is ", len(fifa))
print("lenght of fifa_tbl is ", len(fifa_tbl))
print('length of df is ', len(df))

lenght of merged table is  63916
lenght of fifa_tbl is  63916
length of df is  249