In [1]:
import numpy as np
import pandas as pd
import seaborn as sn
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
fifa_tbl = pd.read_csv('fifa_ranking-2022-10-06.csv')
fifa_tbl.head(3)

,rank,country_full,country_abrv,total_points,previous_points,rank_change,confederation,rank_date
0,1,Germany,GER,57.0,0.0,0,UEFA,1992-12-31
1,96,Syria,SYR,11.0,0.0,0,AFC,1992-12-31
2,97,Burkina Faso,BFA,11.0,0.0,0,CAF,1992-12-31

In [3]:
fifa_tbl.describe()

               rank  total_points  previous_points   rank_change
count  63916.000000  63916.000000     63916.000000  63916.000000
mean     100.196821    442.404780       440.999013      0.004756
std       58.060019    409.091526       409.321338      5.660809
min        1.000000      1.000000         0.000000    -92.000000
25%       50.000000     88.000000        86.000000     -1.000000
50%      100.000000    347.000000       345.000000      0.000000
75%      149.000000    641.000000       640.000000      2.000000
max      211.000000   2172.000000      2187.000000    199.000000

In [8]:
fifa_tbl.dtypes

rank                 int64
country_full        object
country_abrv        object
total_points       float64
previous_points    float64
rank_change          int64
confederation       object
rank_date           object
dtype: object

In [13]:
fifa_tbl['rank_date'] = pd.to_datetime(fifa_tbl['rank_date'])

In [14]:
fifa_tbl.dtypes

rank                        int64
country_full               object
country_abrv               object
total_points              float64
previous_points           float64
rank_change                 int64
confederation              object
rank_date          datetime64[ns]
dtype: object

In [17]:
fifa_tbl['year'] = fifa_tbl.rank_date.dt.year

In [18]:
fifa_tbl.dtypes

rank                        int64
country_full               object
country_abrv               object
total_points              float64
previous_points           float64
rank_change                 int64
confederation              object
rank_date          datetime64[ns]
year                        int64
dtype: object