In [2]:
import numpy as np
import pandas as pd
import seaborn as sn
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
fifa_tbl = pd.read_csv('fifa_ranking-2022-10-06.csv')
fifa_tbl.head(3)

,rank,country_full,country_abrv,total_points,previous_points,rank_change,confederation,rank_date
0,1,Germany,GER,57.0,0.0,0,UEFA,1992-12-31
1,96,Syria,SYR,11.0,0.0,0,AFC,1992-12-31
2,97,Burkina Faso,BFA,11.0,0.0,0,CAF,1992-12-31

In [4]:
fifa_tbl.describe()

               rank  total_points  previous_points   rank_change
count  63916.000000  63916.000000     63916.000000  63916.000000
mean     100.196821    442.404780       440.999013      0.004756
std       58.060019    409.091526       409.321338      5.660809
min        1.000000      1.000000         0.000000    -92.000000
25%       50.000000     88.000000        86.000000     -1.000000
50%      100.000000    347.000000       345.000000      0.000000
75%      149.000000    641.000000       640.000000      2.000000
max      211.000000   2172.000000      2187.000000    199.000000

In [5]:
fifa_tbl.dtypes

rank                 int64
country_full        object
country_abrv        object
total_points       float64
previous_points    float64
rank_change          int64
confederation       object
rank_date           object
dtype: object

In [6]:
fifa_tbl['rank_date'] = pd.to_datetime(fifa_tbl['rank_date'])

In [7]:
fifa_tbl.dtypes

rank                        int64
country_full               object
country_abrv               object
total_points              float64
previous_points           float64
rank_change                 int64
confederation              object
rank_date          datetime64[ns]
dtype: object

In [8]:
fifa_tbl['year'] = fifa_tbl.rank_date.dt.year

In [9]:
fifa_tbl.dtypes

rank                        int64
country_full               object
country_abrv               object
total_points              float64
previous_points           float64
rank_change                 int64
confederation              object
rank_date          datetime64[ns]
year                        int64
dtype: object

In [10]:
len(fifa_tbl.country_full.unique())

224

In [11]:
fifa_tbl['country_full'].value_counts()

Germany                  322
Thailand                 322
Madagascar               322
Italy                    322
Brazil                   322
                        ...
São Tomé and Príncipe     23
Cabo Verde                23
Czechoslovakia             6
Türkiye                    2
São Tomé e Príncipe        1
Name: country_full, Length: 224, dtype: int64

In [12]:
fifa_tbl.head(3)

,rank,country_full,country_abrv,total_points,previous_points,rank_change,confederation,rank_date,year
0,1,Germany,GER,57.0,0.0,0,UEFA,1992-12-31,1992
1,96,Syria,SYR,11.0,0.0,0,AFC,1992-12-31,1992
2,97,Burkina Faso,BFA,11.0,0.0,0,CAF,1992-12-31,1992

In [14]:
by_country = fifa_tbl[['country_full', 'total_points','rank']].groupby('country_full')

In [17]:
by_country.first(5)

                total_points  rank
country_full
Afghanistan              7.0   204
Albania                 14.0    86
Algeria                 39.0    30
American Samoa           1.0   192
Andorra                  2.0   185
...                      ...   ...
Yemen                    6.0   115
Yugoslavia              39.0    29
Zaire                   25.0    60
Zambia                  38.0    32
Zimbabwe                27.0    54

[224 rows x 2 columns]

In [22]:
best_country = fifa_tbl.where(fifa_tbl['rank'] == 1)
best_country

,rank,country_full,country_abrv,total_points,previous_points,rank_change,confederation,rank_date,year
0,1.0,Germany,GER,57.0,0.0,0.0,UEFA,1992-12-31,1992.0
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN
...,...,...,...,...,...,...,...,...,...
63911,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN
63912,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN
63913,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN
63914,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN
63915,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN